.sw-settings-rezon-footer-seo-category-links {
    &__blocks {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__block {
        padding: 20px;
        border: 1px solid #d1d9e0;
        border-radius: 4px;
        background-color: #f9fafb;

        h3 {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 600;
            color: #52667a;
        }
    }

    &__category-label-main {
        font-weight: 500;
    }

    &__category-label-parent {
        color: #758ca3;
        font-size: 12px;
    }

    &__help-text {
        margin-top: 8px;
        font-size: 12px;
        color: #758ca3;
    }
}

