#footerColumnsCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  background-color: transparent;
  max-width: 1400px;
  padding: 40px 0 0 0;
  margin: 0 auto 0;
  border-top: 1px solid #b3b3b3; // разделитель сверху
}

@media (min-width: 768px) {
  #footerColumnsCategories {
    border-top: 2px solid #b3b3b3;
  }
}

.footer-seo-column {
  margin-bottom: 18px;

  .footer-column-content-inner {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 0px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a.footer-link,
    span.footer-category-links-text {
      color: #555;
      text-decoration: none;
      font-size: 14px;
      line-height: 1.6;
    }

    a.footer-link:hover {
      text-decoration: none;
      color: #333;
    }
  }
}

